<div id="mainbody">
  <div class="info">
    <figure> <img src="<%- picture.link %>"  alt="<%- picture.title %>">
      <figcaption><strong>渡人如渡己，渡已，亦是渡</strong> 当我们被误解时，会花很多时间去辩白。 但没有用，没人愿意听，大家习惯按自己的所闻、理解做出判别，每个人其实都很固执。与其努力且痛苦的试图扭转别人的评判，不如默默承受，给大家多一点时间和空间去了解。而我们省下辩解的功夫，去实现自身更久远的人生价值。其实，渡人如渡己，渡已，亦是渡人。</figcaption>
    </figure>
    <div class="card">
      <h1>我的名片</h1>
      <p>网名：<%- info.nickname%> </p>
      <p>职业：<%- info.job%></p>
      <p>Email：<%- info.email%></p>
      <ul class="linkmore">
        <li><a href="/"  class="talk" title="QQ"></a></li>
        <li><a href="/"  class="address" title="微博"></a></li>
        <li><a href="https://www.github.com/Dean111" class="email" title="github"></a></li>
        <li><a href="http://www.thunderfire.cc" target="_blank" class="photos" title="个人网站"></a></li>
        <li><a href="/" class="heart" title="关于我"></a></li>
      </ul>
    </div>
  </div>
  <div class="blank"></div>
  <!--info end-->
