<div id="mainbody">
  <div class="blogs">
    <div id="index_view">
      <h2 class="t_nav"><a href="/">网站首页</a><a href="/"><%-currDir.dir.title  %></a></h2>
      <h1 class="c_titile"><%- post.title %></h1>
      <p class="box">发布时间：<%- post.createTime %><span>编辑：admin</span>阅读（<%- post.pv %>）</p>
      <ul>
          <%- post.content %>
      </ul>
      <div class="share">
        <!-- Baidu Button BEGIN -->
        <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare"> <span class="bds_more">分享到：</span> <a class="bds_qzone"></a> <a class="bds_tsina"></a> <a class="bds_tqq"></a> <a class="bds_renren"></a> <a class="bds_t163"></a> <a class="shareCount"></a> </div>
        <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=6574585" ></script>
        <script type="text/javascript" id="bdshell_js"></script>
        <script type="text/javascript">
                 document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
        </script>
        <!-- Baidu Button END -->
      </div>
      <div class="otherlink">
        <h2>相关文章</h2>
        <ul>
          <% fivePosts.forEach(function(post){ %>
            <li><a href="/posts/<%- post._id %>" title="<%- post.title %>"><%- post.title %></a></li>
          <% }) %>
        </ul>
      </div>
      <!-- 多说评论框 start -->
	<div class="ds-thread" data-thread-key="<%- post._id %>" data-title="<%- post.content %>" data-url="http://www.wenpy.cn"></div>
    <!-- 多说评论框 end -->
    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
    var duoshuoQuery = {short_name:"wenpy"};
    	(function() {
    		var ds = document.createElement('script');
    		ds.type = 'text/javascript';ds.async = true;
    		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
    		ds.charset = 'UTF-8';
    		(document.getElementsByTagName('head')[0]
    		 || document.getElementsByTagName('body')[0]).appendChild(ds);
    	})();
    	</script>
      <script type="text/javascript">
          Date.prototype.Format = function (fmt) { //author: meizz
              var o = {
                  "M+": this.getMonth() + 1, //月份
                  "d+": this.getDate(), //日
                  "h+": this.getHours(), //小时
                  "m+": this.getMinutes(), //分
                  "s+": this.getSeconds(), //秒
                  "q+": Math.floor((this.getMonth() + 3) / 3), //季度
                  "S": this.getMilliseconds() //毫秒
              };
              if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
              for (var k in o)
              if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
              return fmt;
          }
      </script>

    <!-- 多说公共JS代码 end -->
    </div>
