<%- include('admin/header') %>
<div id="page-wrapper">
    <div class="header">
        <h1 class="page-header">
            添加文章 <small>Create a new article.</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Empty</a></li>
            <li class="active">Data</li>
        </ol>
        <% if (success) { %>
          <div class="ui success message">
            <div class="alert alert-success" role="alert"><%= success %></div>
          </div>
        <% } %>

        <% if (error) { %>
          <div class="ui error message">
            <div class="alert alert-danger" role="alert"><%= error %></div>
          </div>
        <% } %>
    </div>
    <form method="post" id="form1">
        <div style="width: 95%;height: 30px;margin: 20px auto;text-align: center;" class="input-group input-group-lg">
              <input type="text" name="articleTitle" value="<% if(typeof post!=='undefined'){ %><%- post.title %><% } %>" id="articleTitle" class="form-control" placeholder="文章标题......">
        </div>
        <div style="width: 95%;height: 30px;margin: 20px auto;text-align: center;" class="input-group input-group-lg">
          <select name="dirId" class="form-control">
                  <% dirs.forEach(function(item){  %>
                    <option value="<%- item._id %>"><%- item.title %></option>
                  <% }) %>
          </select>
        </div>
        <div style="width: 95%;height: 30px;margin: 20px auto;text-align: center;" class="input-group input-group-lg">
              <input type="text" name="picLink" value="<% if(typeof post!=='undefined'){ %><%- post.picLink %><% } %>" id="articleTitle" class="form-control" placeholder="列表图标链接......">
        </div>
              <input type="hidden" name="contentId" id="articleId" value="<% if(typeof post!=='undefined'){ %><%- post._id %><% } %>" class="form-control" />
              <input type="hidden" name="articleContent" id="articleContent" class="form-control" />
        <div class="form-group">
            <div id="div1" style="height:500px;">
                <% if(typeof post!=='undefined'){ %><%- post.content %><% } %>
            </div>
        </div>
        <div style="margin-left:28px;">
          <button id="fabu" class="btn btn-default btn-lg">发布</button>
          <button type="reset" class="btn btn-default btn-lg">重置</button>
          <button id="xiugai" class="btn btn-default btn-lg">修改</button>
        </div>
    </form>
    <div id="page-inner">
        <footer>
            <p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
        </footer>
    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->
<script type="text/javascript" src="/js/wangEditor.min.js"></script>
<script type="text/javascript">
    $(function () {
        var editor = new wangEditor('div1');
        editor.create();
        //editor.$txt.html('<p>文章内容......</p>');
          $("#fabu").click(function(){debugger
            var text = editor.$txt.html();
            console.log('log is log'+text)
            $("#articleContent").val(text);
            $("form")[0].setAttribute('action',"/admin/addInfo");//action=
            $("#form1").submit();
          })
          $("#xiugai").click(function () {debugger
            var text = editor.$txt.html();
            console.log('log is log'+text)
            console.log('the id is :'+$("#articleId").val());
            $("#articleContent").val(text);
            $("form")[0].setAttribute('action',"/admin/updateArticle");//action=
            $("#form1").submit();
          })

    });
</script>
<%- include('admin/footer') %>
