<%- include('header') %>
  <%- include('components/nav-setting-new',{info:info}) %>
<div class="blogs">
  <ul class="bloglist">
    <% posts.forEach(function (post) { %>
      <%- include('components/notification_new', { post: post}) %>
    <% }) %>
  </ul>
  <%- include('components/post-content-new') %>
</div>
<%- include('footer') %>
